@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Iceland&display=swap');

:root {
    --primary-color: #ffd300;
    --secondary-color: #dc143c;
    --background-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Iceland', sans-serif;
    color: var(--primary-color);
}

body {
    background: var(--background-color);
}

h1,
h2,
h3 {
    font-family: 'Iceberg', sans-serif;
    color: var(--secondary-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 2rem;
}

button {
    font-family: 'Iceland', sans-serif;
}

footer {
    padding: 0.5rem 1rem;
}

footer i {
    font-size: 1.5rem;
}

.fade {
    opacity: 0;
    transition: 1s ease-in-out;
}

.fade.visible {
    opacity: 1;
}

@media screen and (max-width: 512px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    p {
        font-size: 1.2rem;
    }

    footer i {
        font-size: 1rem;
    }
}